.passwords {
  display: flex;
  gap: 30px;
}

.passwords img {
  width: 20px;
  height: 20px;
}

.old-pass {
  display: flex;
  align-items: center;
}

.new-pass {
  align-items: center;
  display: flex;
}

.password {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.password label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.password-field {
  position: relative;
  display: flex;
  align-items: center;
}
.password-field input {
  padding: 8px 40px 8px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.eye-icon {
  position: absolute;
  right: 8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.message {
  color: red;
  font-size: 0.9rem;
}

.password-container {
  display: flex;
  gap: 25px;
}

@media screen and (max-width: 768px) {
  .passwords input {
    width: 320px;
  }
}
